.dpd{
  margin-bottom: 20px;
  border: 1px solid #afafaf;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
}
.dpd>span{
  width: 100%;
  cursor: pointer;
}
.footer{
  text-align: right;
}
.dialogBody{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  .item{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .leftLabel{
    display: block;
    width: 100px;
    text-align: right;
    padding-right: 20px;
    height:32px;
    line-height: 32px;
    align-self: flex-start;
  }
  .el-input{
    flex: 1;
  }
  .el-textarea{
    flex: 1;
  }
  .el-select{
    flex: 1;
  }
}
.el-input {
  width: 200px;
}
.home {
  //position: absolute;
  height: calc(100% - 50px);
  top: 0;
  left: 0;
  width: 100%;
  .search {
    width: 200px;
    margin-right: 10px;
  }
  .headder {
    display: flex;
    height: 40px;
    justify-content: left;
  }
  .tables {
    width: 100%;
    height: calc(100% - 40px);
    margin-top: 10px;
  }
  .el-table {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
  }
  .el-pagination {
    text-align: right;
    margin-top: 10px;
    height: 40px;
    padding: 0;
  }
}

// 突出效果
.m_convex:hover{
  box-shadow: -2px -2px 3px 3px white,
  2px 2px 3px 3px rgb(234, 234, 234);
  background-color: white;
  border-radius: 50%;
  animation: change2 0.3s;
}
@keyframes change2 {
  0%{
    box-shadow:inset -1px -1px 1px 1px white,
          inset 2px 2px 3px 3px rgb(182, 182, 182);
  background-color: rgb(234, 234, 234);
  border-radius: 50%;
  }
  100%{
    box-shadow: -2px -2px 3px 3px white,
  2px 2px 3px 3px rgb(234, 234, 234);
  background-color: white;
  border-radius: 50%;
  }
}
@keyframes change {
  0%{
    box-shadow: -1px -1px 1px 1px white,
  2px 2px 3px 3px rgb(234, 234, 234);
  background-color: white;
  border-radius: 50%;
  }
  100%{
    box-shadow:inset -1px -1px 1px 1px white,
          inset 2px 2px 3px 3px rgb(182, 182, 182);
  background-color: rgb(234, 234, 234);
  border-radius: 50%;
  }

}
// 凹陷效果
.m_convex{
  box-shadow:inset -1px -1px 1px 1px white,
          inset 2px 2px 3px 3px rgb(182, 182, 182);
  background-color: rgb(234, 234, 234);
  border-radius: 50%;
  animation: change 0.3s;
}


// 宽度设置
.all_width{
  height: auto;
  width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}
